<div class="container">
  <div class="row">
    <h3>Characters</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @characters.each do |char| %>
            <tr>
              <td>
                <%= char.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
